* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #D1B67A;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "Caveat", cursive;
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin-top: 5%;
}