* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #C4AF87;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "Caveat", cursive;
}