.comments-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.comments-title {
    width: 40%;
    margin-top: 30px;
}

.comments-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #94804b;
}

.top-comments,
.bottom-comments {
    width: 80%;
}

.bottom-comments {
    margin-bottom: 30px;
}

.comments {
    width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow: hidden;
}

.comments-postit {
    width: 100%;
    position: relative;
}

.comment:nth-child(1) .comments-postit {
    transform: rotate(-1deg);
}

.comment:nth-child(2) .comments-postit {
    transform: rotate(0.5deg);
}

.comment:nth-child(3) .comments-postit {
    transform: rotate(-.5deg);
}

.comment:nth-child(4) .comments-postit {
    transform: rotate(1deg);
}

.add-comment {
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-comment img.comments-postit {
    width: 80%;
}

.add-comment label,
.add-comment input,
.add-comment button {
    position: absolute;
    z-index: 1;
    color: black;
}

.add-comment label {
    top: 30%;
    left: 20%;
    font-size: 40px;
}

.add-comment input {
    font-family: "Caveat", cursive;
    top: 55%;
    width: 60%;
    font-size: 30px;
    background: none;
    border: none;
    outline: none;
    color: black;
}

.add-comment button {
    top: 70%;
    font-size: 30px;
}

.comment {
    font-family: "Caveat", cursive;
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    white-space: normal;
}

.comment h5,
.comment p {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 1;
    color: black;
}

.comment span {
    position: absolute;
    top: 35%;
    z-index: 1;
    color: black;
}

.comment h5 {
    font-weight: bold;
    font-size: 36px;
}

.comment p {
    margin-top: 9%;
    font-size: 24px;
    width: 80%;
}

.comment span {
    margin-top: 17%;
    right: 5%;
    font-size: 20px;
    color: #000000;
    text-align: right;
}

.submit-button {
        border: none;
        background-color: rgba(0, 0, 0, 0);
        background-image: url('/images/secondary-button.webp');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding: 10px;
        font-size: 25px;
        font-family: "Caveat", cursive;
        color: #722539 !important;
        font-weight: 700;
        text-decoration: none;
    }
    .submit-button:hover {
        background-image: url('/images/secondary-button-hover.webp');
    }


.single-craft-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('/images/background-img.webp');
    background-position: center;
    background-size: cover;
    .top-single-craft-container {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        .back-button {
            position: absolute;
            top: 80px;
            left: 70px;
            width: 200px;
            height: 120px;
            background-image: url('/images/back-button-img.webp');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            background-color: rgba(0, 0, 0, 0);
            font-size: 1.7em;
            font-family: 'Caveat', cursive;
            color: #000000;
            span {
                display: inline-block;
                margin-top: 20px;
                font-weight: 200;
            }
        }
        .back-button:hover {
            position: absolute;
            top: 80px;
            left: 70px;
            width: 200px;
            height: 120px;
            background-image: url('/images/back-button-img-hover.webp');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            border: none;
            background-color: rgba(0, 0, 0, 0);
            span {
                margin-top: 20px;
                display: inline-block;
                transform: rotate(8deg);
            }
           

        }
        h1 {
            font-family: "Caveat", cursive;
            font-size: 4em;
        }
    }
    .bottom-single-craft-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        .left-single-craft-container, 
        .right-single-craft-container {
            display: flex;
            flex-direction: column;
            width: 43%;
            height: 690px;
            border-radius: 5px;
            padding: 30px;
        }
        .left-single-craft-container {
            background-color: #ffffff;
            box-shadow: 8px 8px 13px 0px rgba(0,0,0,0.35);
            -webkit-shadow: 8px 8px 13px 0px rgba(0,0,0,0.35);
            -moz-shadow: 8px 8px 13px 0px rgba(0,0,0,0.35);
            gap: 10px;
            img {
                width: 100%;
                height: 600px;
                border-radius: 5px;
                object-fit: cover;
                object-position: center;
            }
            .bottom-left-single-craft-container {
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3 {
                    font-family: "Caveat", cursive;
                    font-size: 2em;
                }
            }
        }
        .right-single-craft-container {
            background-color: #D1B67A;
            justify-content: space-between;
            gap: 20px;
            max-height: 690px;
            position: relative;
            .right-top-single-craft-container {
                display: flex;
                flex-direction: column;
                gap: 5px;
                position: relative;
                font-family: "Caveat", cursive;
                h3 {
                    font-size: 35px;
                }
                .for-sale {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-family: "Caveat", cursive;
                }
                h6 {
                    font-size: 25px;
                }
                
            }
            p {
                font-family: "Caveat", cursive;
                font-size: 25px;
            }
            .right-bottom-single-craft-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: "Caveat", cursive;
                font-size: 30px;
                
            }
            .buy-button {
                bottom: 30px;
                border: none;
                background-color: rgba(0, 0, 0, 0);
                background-image: url('/images/secondary-button.webp');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                padding: 10px;
                font-size: 25px;
                font-family: "Caveat", cursive;
                color: #722539;
                font-weight: 700;
                text-decoration: none;
            }
            .buy-button:hover {
                background-image: url('/images/secondary-button-hover.webp');
            }
        }
        
    }
    
}

// Media Queries Start

@media screen and (max-width: 1200px) {

    .submit-button {
        width: 100px;
    }

.add-comment label {
    top: 30%;
    left: 20%;
    font-size: 30px;
}

.add-comment input {
    font-family: "Caveat", cursive;
    top: 55%;
    width: 60%;
    font-size: 20px;
    background: none;
    border: none;
    outline: none;
    color: black;
}

.add-comment button {
    top: 70%;
    font-size: 20px;
}

.comment {
    font-family: "Caveat", cursive;
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    white-space: normal;
}

.comment h5,
.comment p {
    position: absolute;
    top: 30%;
    left: 10%;
    z-index: 1;
    color: black;
}

.comment span {
    position: absolute;
    top: 35%;
    z-index: 1;
    color: black;
}

.comment h5 {
    font-weight: bold;
    font-size: 36px;
}

.comment p {
    margin-top: 9%;
    font-size: 24px;
    width: 80%;
}

.comment span {
    margin-top: 17%;
    right: 5%;
    font-size: 20px;
    color: #000000;
    text-align: right;
}

}


@media screen and (max-width: 768px) {
        .top-single-craft-container {
            flex-direction: column;
            align-items: center;
            h1 {
                margin-top: 100px;
            }
        }
        .bottom-single-craft-container {
            flex-direction: column;
            .left-single-craft-container, 
            .right-single-craft-container {
                width: 100%;
                height: 80%;
            }
            .left-single-craft-container {
                margin-top: 200px;
            }
        }


    .comment h5 {
        position: absolute;
        top: 20%;
        left: 10%;
        z-index: 1;
        color: black;
    }

    .comment span {
        position: absolute;
        top: 50%;
        right: 8%;
        z-index: 1;
        color: black;
    }

    .comment h5 {
        font-weight: bold;
        font-size: 28px;
    }

    .comment p {
        margin-top: 9%;
        font-size: 18px;
        width: 80%;
    }

    .comment span {
        margin-top: 17%;
        font-size: 12px;
        color: #000000;
    }

    .add-comment label {
        top: 20%;
        left: 20%;
        font-size: 30px;
    }

    .add-comment input {
        font-family: "Caveat", cursive;
        top: 40%;
        width: 60%;
        font-size: 20px;
        background: none;
        border: none;
        outline: none;
        color: black;
    }

    .add-comment button {
        top: 60%;
        font-size: 20px;
    }

    .single-craft-container {

        .bottom-single-craft-container {

            .left-single-craft-container, 
            .right-single-craft-container {
                display: flex;
                flex-direction: column;
                width: 80%;
                height: 100%;
                border-radius: 5px;
                padding: 30px;
                margin-top: 10px;
            }
            
        }
        
    }

}

@media screen and (max-width: 600px) {

    .single-craft-container {

        .top-single-craft-container {
  
            h1 {
                margin-top: 40px;
                font-size: 3em;
                text-align: center;
            }
        }
    }

        .single-craft-container {

                .top-single-craft-container {

                    .back-button {
                        top: 90px;
                        left: 40px;
                        width: 100px;
                        height: 60px;
                        span {
                            display: inline-block;
                            margin-top: 20px;
                            font-weight: 200;
                            font-size: 18px;
                        }
                    }
                    .back-button:hover {
                        position: absolute;
                        top: 90px;
                        left: 40px;
                        width: 100px;
                        height: 60px;
                        background-image: url('/images/back-button-img-hover.webp');
                    }

        }
    }

    .bottom-single-craft-container {

        .left-single-craft-container {
            height: 350px !important;
            width: 80%;
            margin-top: 10px;
    
            h3 {
                font-size: 22px !important;
            }

        }

        .right-single-craft-container {
            
            .buy-button {
                width: 100px !important;
                font-size: 18px !important;
            }
            .buy-button:hover {
                background-image: url('/images/secondary-button-hover.webp');
            }
        }
        
}

}