@charset "UTF-8";
h1 {
  font-family: "Caveat", cursive;
}

/* new craft form */
#graphpaper {
  width: 100%;
  height: 600px;
  background-image: url(/images/graphpaper.png);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#graphpaper .create-craft-post-container {
  margin-left: 10px;
  background-color: #C4AF87;
  width: 70%;
  height: 500px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#graphpaper .create-craft-post-container h3 {
  font-family: "Caveat", cursive;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
#graphpaper .create-craft-post-container .create-craft-post-form {
  width: 90%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#graphpaper .create-craft-post-container .create-craft-post-form .craft-post-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
#graphpaper .create-craft-post-container .create-craft-post-form .craft-post-input label {
  font-family: "Caveat", cursive;
  font-size: 25px;
}
#graphpaper .create-craft-post-container .create-craft-post-form .craft-post-input .box-background {
  width: 80%;
  background-image: url(/images/input-text-img.webp);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
#graphpaper .create-craft-post-container .create-craft-post-form .craft-post-input .box-background input {
  padding: 10px;
  background-color: transparent;
  border: none;
  font-family: "Caveat", cursive;
  font-size: 20px;
  width: 95%;
}
#graphpaper .create-craft-post-container .create-craft-post-form .craft-post-input .box-background select {
  padding: 10px;
  background-color: transparent;
  border: none;
  width: 95%;
  font-family: "Caveat", cursive;
  font-size: 20px;
}
#graphpaper .create-craft-post-container .create-craft-post-form .craft-post-input .box-background select option {
  background-color: #a78991;
  border-radius: 5px;
}
#graphpaper .create-craft-post-container .create-craft-post-form .craft-post-input .box-background select:hover {
  cursor: pointer;
}
#graphpaper .create-craft-post-container .create-craft-post-form .craft-post-input .box-background input:focus,
#graphpaper .create-craft-post-container .create-craft-post-form .craft-post-input .box-background select:focus {
  border: none;
  outline: none;
}
#graphpaper .create-craft-post-container .create-craft-post-form .craft-post-input #image-upload {
  background-image: none;
}
#graphpaper .create-craft-post-container .create-craft-post-form #not-for-sale,
#graphpaper .create-craft-post-container .create-craft-post-form #post-anon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
#graphpaper .create-craft-post-container .create-craft-post-form #not-for-sale input[type=checkbox],
#graphpaper .create-craft-post-container .create-craft-post-form #post-anon input[type=checkbox] {
  width: 30px;
  height: 30px;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: solid 2px #000000;
  border-radius: 5px;
}
#graphpaper .create-craft-post-container .create-craft-post-form #not-for-sale input[type=checkbox]:hover,
#graphpaper .create-craft-post-container .create-craft-post-form #post-anon input[type=checkbox]:hover {
  cursor: pointer;
}
#graphpaper .create-craft-post-container .create-craft-post-form #not-for-sale input[type=checkbox]:checked::after,
#graphpaper .create-craft-post-container .create-craft-post-form #post-anon input[type=checkbox]:checked::after {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  font-size: 25px;
  content: "✔";
  color: rgb(0, 0, 0);
}
#graphpaper .create-craft-post-container .create-craft-post-form #add-post-btn {
  width: 100%;
  background-image: url(/images/addpost-btn.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  grid-area: 5/1/5/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#graphpaper .create-craft-post-container .create-craft-post-form #add-post-btn button {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  font-family: "Caveat", cursive;
  font-size: 25px;
  border: none;
  color: #722539;
  font-weight: 800;
  width: 100%;
}
#graphpaper .create-craft-post-container .create-craft-post-form div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 8px;
  margin: 20px 0;
}/*# sourceMappingURL=craftForm.css.map */