@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/images/background-img.webp);
    background-size: cover;
    background-repeat: repeat-y;
    height: 100%;
    padding-bottom: 50px;
}